html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* lib */
.border-red {
    border: 4px solid red;
}

.border-pink {
    border: 4px solid pink;
}

.border-blue {
    border: 4px solid blue;
}

.border-green {
    border: 4px solid green;
}

.border-black {
    border: 4px solid black;
}

.border-gold {
    border: 4px solid gold;
}

.flex {
    display: flex;
}

.flex-jc-e {
    justify-content: flex-end;
}

.flex-jc-s {
    justify-content: flex-start;
}

.flex-jc-c {
    justify-content: center;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-ai-c {
    align-items: center;
}

.flex-as-c {
    align-self: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.height-100p {
    height: 100%;
}

.block {
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.img-box>img {
    width: 100%;
    display: block;
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.txt-al-c {
    text-align: center;
}

.strong {
    font-weight: bold;
}

.black {
    color: black;
}

/* cos */
.con {
    width: 1080px;
}

.con-min-width {
    min-width: 1080px;
}

::selection {
    background-color: #fede22;
}

/* cos lib */
.ico {
    background-color: white;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(img/img_kabang_220615.png);
}

.ico-1 {
    background-position: -341px -292px;
}

.ico-2 {
    background-position: -371px -292px;
}

/* 탑바 시작 */
body {
    padding-top: 100px;
}

.top-bar {
    height: 100px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.top-bar .logo {
    padding: 0 20px;
}

/* 탑바 - 메뉴박스 1 */
.top-bar .menu-box-1 {
    margin-right: 30px;
}

.top-bar .menu-box-1>ul>li>a {
    font-weight: bold;
    padding: 0 20px;
    position: relative;
}

.top-bar .menu-box-1 ul>li>a:hover {
    text-decoration: underline;
}

.top-bar .menu-box-1>ul>li>a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    border-top: 2px solid black;
    transition: width .3s;
}

.top-bar .menu-box-1>ul>li:hover>a::after {
    width: 100%;
}

/* 탑바 - 메뉴박스 1 - 2차 메뉴 */
.top-bar .menu-box-1>ul>li>div {
    left: 0;
    width: 100%;
    background-color: white;
    position: absolute;
    display: none;
    padding-top: 30px;
    padding-bottom: 40px;
    top: calc(100% + 1px);
}

.top-bar .menu-box-1>ul>li:hover>div {
    display: block;
}

.top-bar .menu-box-1>ul>li>div>div>ul>li {
    width: 20%;
}

.top-bar .menu-box-1>ul>li:first-child>div>div>ul>li {
    width: 25%;
}

.top-bar .menu-box-1>ul>li>div>div>ul>li>a {
    text-align: center;
    padding: 30px 0;
    font-weight: bold;
}

/* 탑바 - 메뉴박스 1 - 3차 메뉴 */
.top-bar .menu-box-1>ul>li>div>div>ul>li>ul>li>a {
    text-align: center;
    padding: 10px 0;
}

/* 탑바 - 서류제출 버튼 */
.top-bar .btn-go-submit {
    background-color: #fede22;
    padding: 20px;
    font-weight: bold;
    border-radius: 30px;
}

/* 탑바 - 언어변경 버튼 */
.top-bar .global-logo {
    padding: 0 20px;
    cursor: default;
}

.top-bar .global-logo:hover>img {
    opacity: .3;
}

/* 탑바 끝 */
/* 상단 배너박스 1 시작 */
.top-banner-box-1 {
    position: relative;
}

/* 상단 배너박스 1 - 배경 */
.top-banner-box-1 .bg {
    height: 648px;
    width: 100%;
    background-color: #ffef6b;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* 상단 배너박스 1 - 텍스트 박스 */
.top-banner-box-1 .txt-box {
    position: absolute;
    top: 105px;
    left: 50px;
}

.top-banner-box-1 .txt-box>h1 {
    font-size: 49px;
    line-height: 68.6px;
}

.top-banner-box-1 .txt-box>h2 {
    font-size: 16px;
    line-height: 31.2px;
    font-weight: 400;
}

.top-banner-box-1 .txt-box>.btns {
    margin-top: 40px;
}

.top-banner-box-1 .txt-box>.btns>li:not(:first-child) {
    margin-left: 10px;
}

.top-banner-box-1 .txt-box>.btns>li>a {
    background-color: white;
    display: flex;
    width: 178px;
    border-radius: 12px;
    font-size: 16.2px;
    font-weight: bold;
    color: #333;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.top-banner-box-1 .txt-box>.btns>li>a>.ico {
    margin-right: 10px;
}

.top-banner-box-1 .txt-box>.btns>li:hover>a {
    text-decoration: underline;
}

/* 상단 배너박스 1 끝 */
/* 상단 배너박스 타입 1 시작 */
.top-banner-box-type-1 {
    margin-top: 55px;
    min-height: 500px;
    display: flex;
    padding-bottom: 30px;
}

.top-banner-box-type-1>div:first-child {
    width: 55%;
    display: flex;
    align-items: center;
}

.top-banner-box-type-1>div:last-child {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.top-banner-box-type-1 .txt-box {}

.top-banner-box-type-1 .txt-box>h1 {
    font-size: 40px;
    line-height: 1.35;
}

.top-banner-box-type-1 .txt-box>.des {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #666;
}

.top-banner-box-type-1 .txt-box>.btn-box {
    margin-top: 40px;
    display: flex;
}

.top-banner-box-type-1 .txt-box>.btn-box>a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    width: 258px;
    height: 56px;
    font-size: 16px;
    color: #333;
    border-radius: 10px;
}

.top-banner-box-type-1 .txt-box>.btn-box>a:hover>span {
    text-decoration: underline;
}

.top-banner-box-type-1 .txt-box>.btn-box>a::after {
    content: ">";
    margin-left: 10px;
}

.top-banner-box-type-1 .txt-box>.btn-box>a:not(:only-child) {
    width: 158px;
}

.top-banner-box-type-1 .txt-box>.btn-box>a:not(:last-child) {
    margin-right: 5px;
}

.top-banner-box-type-1-between-pad {
    height: 32px;
    background-color: #fafafa;
}

/* 상단 배너박스 타입 1 끝 */

/* 상단 배너박스 2 시작 */
.top-banner-box-2>div:first-child>* {
    margin-left: 40px;
}

.top-banner-box-2>div:last-child>* {
    margin-left: 35px;
}

.top-banner-box-2 .img-box {
    width: 473px;
}

/* 상단 배너박스 2 끝 */

/* 상단 배너박스 3 시작 */
.top-banner-box-3>div:first-child>* {
    margin-left: 70px;
}

.top-banner-box-3>div:last-child>* {
    margin-left: 66px;
}

.top-banner-box-3 .txt-box>.img-box-1 {
    margin-top: 65px;
}

.top-banner-box-3 .txt-box>.img-box-1>img {
    width: 440px;
}

.top-banner-box-3 .img-box {
    width: 409px;
}

.top-banner-box-3 .img-box>img {
    transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1), opacity 1s;
    transform: translatex(100%);
    opacity: 0;
}

.top-banner-box-3 .img-box.active>img {
    transform: translatex(0);
    opacity: 1;
}

/* 상단 배너박스 3 끝 */

/* 상단 배너박스 4 시작 */
.top-banner-box-4>div:first-child>* {
    margin-left: 57px;
}

.top-banner-box-4>div:last-child>* {
    margin-left: 35px;
}

.top-banner-box-4 .img-box {
    width: 459px;
}

.txt-logo-1 {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url(img/logo-moim.png) no-repeat 0 0;
    background-size: 40px 40px;
    vertical-align: middle;
    margin-top: -4px;
}

.txt-logo-2 {
    width: 15px;
    height: 16px;
    background: url(img/logo-moim-r.png) no-repeat 0 0;
    background-size: 15px 16px;
    display: inline-block;
    vertical-align: top;
    margin: 6px 0 0 -9px;
}

/* 상단 배너박스 4 끝 */

/* 상단 배너박스 5 시작 */
.top-banner-box-5>div:first-child>* {
    margin-left: 130px;
}

.top-banner-box-5>div:last-child>* {
    margin-left: -15px;
}

.top-banner-box-5 .img-box {
    width: 492px;
}

/* 상단 배너박스 5 끝 */

/* 상단 배너박스 6 시작 */
.top-banner-box-6>div:first-child>* {
    margin-left: 76px;
}

.top-banner-box-6>div:last-child>* {
    margin-left: 35px;
}

.top-banner-box-6-wrap {
    height: 750px;
    background: #fff url(img/home_map.png) no-repeat -12% 50%;
}

.top-banner-box-6 .img-box {
    width: 408px;
}

.top-banner-box-6 .img-box>img {
    transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1), opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}

.top-banner-box-6 .img-box.active>img {
    transform: translateY(0);
    opacity: 1;
}

/* 상단 배너박스 6 끝 */
/* 대출박스 시작 */
.loan-box {
    background-color: #333b58;
    position: relative;
    z-index: 0;
    color: white;
    padding-top: 160px;
}

.loan-box>.con {
    position: relative;
    z-index: 1;
}

.loan-box>.sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loan-box>.sky>.blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #559cde;
    transition: height .5s;
}

.loan-box.active>.sky>.blue {
    height: 0;
}

.loan-box>.sky>.moon {
    width: 112px;
    height: 112px;
    position: absolute;
    top: 190px;
    left: calc(50% + 440px);
    overflow: hidden;
}

.loan-box>.sky>.moon>.base {
    width: 110px;
    height: 110px;
    background-color: #ffdc00;
    border-radius: 50%;
    transition: background-color 1s;
}

.loan-box.active>.sky>.moon>.base {
    background-color: white;
}

.loan-box>.sky>.moon>.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: -100%;
    border-radius: 50%;
    transition: top .5s .2s, left .5s .2s;
}

.loan-box.active>.sky>.moon>.shadow {
    top: -23px;
    left: -23px;
    background-color: #333b58;
}

/* 대출박스 - 별 시작 */
.loan-box>.sky .ico-star {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
}

.loan-box>.sky .ico-star-1 {
    top: 30%;
    left: 10%;
}

.loan-box>.sky .ico-star-2 {
    top: 10%;
    left: 20%;
}

.loan-box>.sky .ico-star-3 {
    top: 25%;
    left: 15%;
}

.loan-box>.sky .ico-star-4 {
    top: 40%;
    right: 15%;
}

.loan-box>.sky .ico-star-5 {
    top: 43%;
    right: 30%;
}

.loan-box>.sky .ico-star-6 {
    top: 73%;
    right: 27%;
}

.loan-box>.sky .ico-star-7 {
    top: 65%;
    left: 22%;
}

@keyframes clittering {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(0.9);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.loan-box>.sky .ico-star-1 {
    animation: clittering 2s infinite;
}

.loan-box>.sky .ico-star-2 {
    animation: clittering 3s infinite;
}

.loan-box>.sky .ico-star-3 {
    animation: clittering 5s infinite;
}

.loan-box>.sky .ico-star-4 {
    animation: clittering 2s infinite;
}

.loan-box>.sky .ico-star-5 {
    animation: clittering 4s infinite;
}

.loan-box>.sky .ico-star-6 {
    animation: clittering 1.8s infinite;
}

.loan-box>.sky .ico-star-7 {
    animation: clittering 3.5s infinite;
}

/* 대출박스 - 별 끝 */

.loan-box>.con>h1 {
    font-size: 40px;
}

.loan-box>.con>.des {
    margin-top: 24px;
    font-size: 15px;
    opacity: .6;
}

.loan-box>.con>.menu-box-1 {
    margin-top: 20px;
}

.loan-box>.con>.menu-box-1>ul>li {
    margin: 0 3px;
}

.loan-box>.con>.menu-box-1>ul>li>a {
    display: block;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 10px;
}

.loan-box>.con>.menu-box-1>ul>li:hover>a>span {
    text-decoration: underline;
}

.loan-box>.con>.menu-box-1>ul>li>a::after {
    content: " >";
}

.loan-box>.con>.img-box-1 {
    margin-top: 20px;
}

.loan-box>.con>.img-box-1>img {
    display: block;
    width: 429px;
    margin-left: auto;
    margin-right: auto;
}

/* 대출박스 끝 */
/* 체크카드박스 시작 */
.checkcard-box {
    padding-top: 150px;
    padding-bottom: 130px;
}

.checkcard-box>.con>h1 {
    font-size: 40px;
    line-height: 1.35
}

.checkcard-box>.con>.des {
    margin-top: 24px;
    font-size: 15px;
    color: #666;
}

.checkcard-box .btn-box {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.checkcard-box .btn-box>a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    width: 258px;
    height: 56px;
    font-size: 16px;
    color: #333;
    border-radius: 10px;
}

.checkcard-box .btn-box>a:hover>span {
    text-decoration: underline;
}

.checkcard-box .btn-box>a::after {
    content: ">";
    margin-left: 10px;
}

/* 체크카드박스 - 슬라이더 시작 */
.checkcard-box .slider-box-1 {
    width: 720px;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
}

.checkcard-box .slider-box-1 .slick .item {
    transition: transform .3s;
}

.checkcard-box .slider-box-1 .slick .item>.img-box {
    padding: 60px 0;
}

.checkcard-box .slider-box-1 .slick .item.slick-center {
    transform: scale(1.2);
}

.checkcard-box .slider-box-1 .arrows>.btn-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 130px);
}

.checkcard-box .slider-box-1 .arrows>.btn-arrow:active {
    transform: translateY(-45%);
}

.checkcard-box .slider-box-1 .arrows>.btn-arrow.btn-arrow-right {
    left: calc(100% + 130px);
    right: auto;
}

/* 체크카드박스 - 슬라이더 끝 */
/* 체크카드박스 끝 */
/* IT기술박스 시작 */
.itskill-box {
    padding-top: 160px;
    padding-bottom: 170px;
    background-color: #f9f9f9;
    position: relative;
    z-index: 1;
}

.itskill-box>.con>h1 {
    color: #111;
    font-size: 40px;
    line-height: 1.35;
}

.itskill-box>.con>.divider {
    margin: 50px auto 140px auto;
    height: 2px;
    width: 100px;
    background-color: black;
}

.itskill-box>.con>.info-box {
    margin: 50px 30px auto 30px;
}

.itskill-box>.con>.info-box::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #eee;
    transform: translateY(122px);
    z-index: -1;
}

.itskill-box>.con>.info-box>ul>li {
    width: 269px;
}

.itskill-box>.con>.info-box>ul>li:nth-child(2) {
    margin-left: -26px;
}

.itskill-box>.con>.info-box>ul>li>h1 {
    font-size: 18px;
    text-align: center;
    margin-top: 45px;
}

.itskill-box>.con>.info-box>ul>li>.des {
    color: #666;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-top: 17px;
    font-weight: 200;
}

/* IT기술박스 끝 */
/* 하단바 시작 */
.bottom-bar {
    font-size: 11px;
    font-family: '돋움', dotum, sans-serif;
    background-color: #eee;
    padding: 20px 0 16px;
}

.bottom-bar .box-1 {
    color: #666;
}

.bottom-bar .box-1>.menu-box-1>ul>li:hover>a {
    text-decoration: underline;
}

.bottom-bar .box-1>.menu-box-1>ul>li>span {
    float: left;
    width: 1px;
    height: 10px;
    margin: 15px 15px 0;
    background-color: #d8d8d8;
}

.bottom-bar .box-2 {
    color: #888;
    margin-top: 10px;
}

.bottom-bar .box-2>a {
    font-size: 12px;
}

.bottom-bar .box-2>.rep-contact {
    margin: 0 10px;
}

.bottom-bar .box-2>.copyright {
    margin-top: 10px;
}

.bottom-bar .box-3 {
    margin-top: 15px;
}

.bottom-bar .box-3>a>span {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #666;
}

.bottom-bar .box-3>a:hover {
    text-decoration: underline;
}

.bottom-bar .box-3>.auth-mark-1 {
    margin-right: 20px;
}

.bottom-bar .box-3>.auth-mark-1>img {
    width: 48px;
}

.bottom-bar .box-3>.auth-mark-2>img {
    width: 42px;
}

.bottom-bar .box-3>.menu-box-2>ul {
    margin-right: 35px;
}

.bottom-bar .box-3>.menu-box-2>ul>li {
    margin-left: 10px;

}

.bottom-bar .box-3>.menu-box-2>ul>li>a {
    width: 24px;
    height: 24px;
}

.bottom-bar .box-3>.menu-box-2>ul>li>a>span {
    height: 100%;

}

.ico-2 {
    background-image: url(img/ico_sns.png);
}

.ico-2.ico-2-facebook {
    background-position: 0 -90px;
}

.ico-2.ico-2-instagram {
    background-position: -191px -138px;
}

.ico-2.ico-2-youtube {
    background-position: -90px -90px;
}

.ico-2.ico-2-brunch {
    background-position: -217px -138px;
}

/* 하단바 끝 */